.messages {
    background-color: #edf1f1;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages .dialogItems {
    padding: 10px;
}

.messages .dialogItems .names {
    padding: 10px;
    align-items: center;
    horiz-align: center;
}


.messages .message {
    width: 60%;
    padding: 10px;
}

.messages .dialogItems a {
    text-decoration: none;
    color: darkgreen;
}
.ava_img_friends {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.msg_left {
    text-align: left;
}
.msg_rigth {
    text-align: end;
}

.new_message_textarea {
    width: 500px;
    height: 200px;
    background-color: #d7d798;
}
.new_message_button {
    width: 120px;
    height: 50px;
}
.add_new_message_div {
    display: grid;
    flex-direction: column;
    grid-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
}
.new_message_item {
    margin-left: auto;
    margin-right: auto;
}