.messages {
    background-color: #edf1f1;
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.messages .dialogItems {
    padding: 10px;
}

.messages .dialogItems .names {
    padding: 10px;
}


.messages .message {
    padding: 10px;
}

.messages .dialogItems a {
    text-decoration: none;
    color: darkgreen;
}
