.wrapped_div_for_users {
    display: flex;
    flex-direction: column;
}
.one_user_div {
    display: flex;
    flex-direction: row;
}
.user_photo {
    width: 100px;
    height: 100px;
}
.selected_page {
    font-weight: bold;
    padding-right: 5px;
}
.non_selected_page {
    color: red;
    padding-right: 5px;
}