.posts_wrapped_div {
    display: grid;
    flex-direction: column;
}
.input_textarea {
    /*justify-content: center;*/
    width: 400px;
    height: 150px;
    border:3px;
    background-color:aliceblue;
}
.button_add_new_post{
    font-family: Damascus;
    /*justify-content: center;*/
    width: 150px;
    height: 40px;
}
.new_post_div {
    display: grid;
    flex-direction: column;
    /*margin-left: 200px;*/
    /*justify-content: center;*/
}
