.nav {
    height: 100%;
    background-color: #edf1f1;
    grid-area: nn;
    text-align: center;
}
.item {
    padding: 5px;
}
.a_link {
    font-size: 20px;
    text-decoration: none;
    cursor: default;
}
.active_link {
    color: gold;
    font-size: 20px;
    text-decoration: none;
    cursor: default;
}
.ava_image {
    height: 200px;
    width: 200px;
}