.nav {
    height: 100%;
    background-color: #edf1f1;
    grid-area: nn;
    text-align: center;
}
.item {
    color: black;
    padding: 20px;
}
.item.active {
    color: gold;
}
.a {
    color: saddlebrown;
    font-size: 20px;
    text-decoration: none;
}
.a.active {
    color: gold;
}
.ava_image {
    height: 200px;
    width: 200px;
}