:root {
    --post_image_height: 70px;
    --post_image_width: 70px;
}

.post_div25 {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 30px 30px;
    grid-template-columns: 100px 1fr;
    grid-template-areas:
            "img text"
            "img likes";
}

.post_image {
    grid-area: img;
    height: var(--post_image_height);
    width: var(--post_image_width);

    align-self: center;
    justify-self: center;
    align-items: center;
    vertical-align: center;

    text-align: center;
}
.post_message_text {
    grid-area: text;
}

.post_likes {
    color: green;
}
